<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.waivestar.waivenetdroid"  >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wsicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        >
        <activity
            android:name=".WaiveNetWV"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WaiveNetWeb"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
